[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "classInt"]
	path = classInt
	url = https://github.com/r-spatial/classint
	shallow = true
	registered = true
[submodule "gstat"]
	path = gstat
	url = https://github.com/r-spatial/gstat
	shallow = true
	registered = true
[submodule "leafem"]
	path = leafem
	url = https://github.com/r-spatial/leafem
	shallow = true
	registered = true
[submodule "leafpm"]
	path = leafpm
	url = https://github.com/r-spatial/leafpm
	shallow = true
	registered = true
[submodule "leafpop"]
	path = leafpop
	url = https://github.com/r-spatial/leafpop
	shallow = true
	registered = true
[submodule "leafsync"]
	path = leafsync
	url = https://github.com/r-spatial/leafsync
	shallow = true
	registered = true
[submodule "link2GI"]
	path = link2GI
	url = https://github.com/r-spatial/link2gi
	shallow = true
	registered = true
[submodule "lwgeom"]
	path = lwgeom
	url = https://github.com/r-spatial/lwgeom
	shallow = true
	registered = true
[submodule "mapedit"]
	path = mapedit
	url = https://github.com/r-spatial/mapedit
	shallow = true
	registered = true
[submodule "mapview"]
	path = mapview
	url = https://github.com/r-spatial/mapview
	shallow = true
	registered = true
[submodule "plainview"]
	path = plainview
	url = https://github.com/r-spatial/plainview
	shallow = true
	registered = true
[submodule "rgee"]
	path = rgee
	url = https://github.com/r-spatial/rgee
	shallow = true
	registered = true
[submodule "RSAGA"]
	path = RSAGA
	url = https://github.com/r-spatial/rsaga
	shallow = true
	registered = true
[submodule "s2"]
	path = s2
	url = https://github.com/r-spatial/s2
	shallow = true
	registered = true
[submodule "sf"]
	path = sf
	url = https://github.com/r-spatial/sf
	shallow = true
	registered = true
[submodule "slideview"]
	path = slideview
	url = https://github.com/r-spatial/slideview
	shallow = true
	registered = true
[submodule "spatialreg"]
	path = spatialreg
	url = https://github.com/r-spatial/spatialreg
	shallow = true
	registered = true
[submodule "spdep"]
	path = spdep
	url = https://github.com/r-spatial/spdep
	shallow = true
	registered = true
[submodule "stars"]
	path = stars
	url = https://github.com/r-spatial/stars
	shallow = true
	registered = true
