[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "classInt"]
	path = classInt
	url = https://github.com/r-spatial/classint
[submodule "gstat"]
	path = gstat
	url = https://github.com/r-spatial/gstat
[submodule "leafem"]
	path = leafem
	url = https://github.com/r-spatial/leafem
[submodule "leafgl"]
	path = leafgl
	url = https://github.com/r-spatial/leafgl
[submodule "leafpm"]
	path = leafpm
	url = https://github.com/r-spatial/leafpm
[submodule "leafpop"]
	path = leafpop
	url = https://github.com/r-spatial/leafpop
[submodule "leafsync"]
	path = leafsync
	url = https://github.com/r-spatial/leafsync
[submodule "link2GI"]
	path = link2GI
	url = https://github.com/r-spatial/link2gi
[submodule "lwgeom"]
	path = lwgeom
	url = https://github.com/r-spatial/lwgeom
[submodule "mapedit"]
	path = mapedit
	url = https://github.com/r-spatial/mapedit
[submodule "mapview"]
	path = mapview
	url = https://github.com/r-spatial/mapview
[submodule "plainview"]
	path = plainview
	url = https://github.com/r-spatial/plainview
[submodule "rgee"]
	path = rgee
	url = https://github.com/r-spatial/rgee
[submodule "RPyGeo"]
	path = RPyGeo
	url = https://github.com/r-spatial/rpygeo
[submodule "RSAGA"]
	path = RSAGA
	url = https://github.com/r-spatial/rsaga
[submodule "s2"]
	path = s2
	url = https://github.com/r-spatial/s2
[submodule "sf"]
	path = sf
	url = https://github.com/r-spatial/sf
[submodule "slideview"]
	path = slideview
	url = https://github.com/r-spatial/slideview
[submodule "spatialreg"]
	path = spatialreg
	url = https://github.com/r-spatial/spatialreg
[submodule "spdep"]
	path = spdep
	url = https://github.com/r-spatial/spdep
[submodule "stars"]
	path = stars
	url = https://github.com/r-spatial/stars
